<section class="section hero is-link is-fullheight-with-navbar">
    
    <div class="content_container container hero-body">
        <h1 class="title">Content</h1>
        <button class="button is-primary is-outlined">Click me!</button>
    </div>
   


</section>