<footer class="footer">
    <div class="content has-text-centered">
        <p>
            Simple <strong>One-page layout</strong> by me, <strong>Stefan Lauritsen.</strong>
        </p>
    </div>
</footer>